<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://sproutgigs.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body>
    <form action="/dashboard" method="post" id="login-form">
        <h1 id="heading">ADMIN</h1>
        <input type="text" placeholder="Password" name="pass" id="get__text">
        <input type="submit" value="Login" id="login__btn">
    </form>
</body>

</html>